.cv-button {
  padding: 15px;
  background: rgb(64, 162, 228);
  margin: 0 auto;
  align-self: center;
  color: black;
  border-radius: 10px;
  font-weight: 500;
}

.flex {
  display: flex;
  align-content: center;
}
