<div class="grid page">
  <div class="profilepic">
    <img src="assets/graphics/portrait.jpg" alt="" />
  </div>
  <div class="links">
    <h1>
      Lucas
    </h1>
    <h2>Nadeau-Guillemette</h2>
    <h3>Developpeur web full-satck</h3>
  </div>
  <div class="bio">
    <p>
      Je suis un mordu de design web et d'architecture. J'aime m'exprimer avec
      des formes et des espaces et le web offre un canva riche et libre.
    </p>
    <p>
      Je suis finissant du cours de Programmation orientée objet et dévelopement
      web du Collège Rosemont de Montréal.
    </p>
  </div>
</div>
