.grid {
  //background-color: red;
  height: 100%;
  overflow: hidden;
  position: relative;
  display: grid;
  grid-template-columns: 300px minmax(200px, 500px);
  grid-template-rows: auto auto;
  grid-template-areas:
    "pic links"
    "pic bio";
}

.profilepic {
  grid-area: pic;
  margin: 100px auto;
  width: 250px;
  height: 250px;
  border-radius: 125px;
  background-size: 120%;
  overflow: hidden;
}

.profilepic img {
  margin-left: -15%;
  width: 120%;
  height: 120%;
}

.links {
  grid-area: links;
}

.bio {
  grid-area: bio;
  text-indent: 50px;
}

@media screen and (max-width: 800px) {
  .grid {
    margin-top: 0;
    margin-bottom: 100px;
    grid-template-columns: 100%;
    grid-template-rows: auto auto auto;
    grid-template-areas:
      "links"
      "pic"
      "bio";
  }
  .profilepic {
    grid-area: pic;
    margin: 50px auto;
  }
}
