<nav
  class="w-100 navbar navbar-expand-lg navbar-light bg-light position-relative"
>
  <div class="container">
    <a class="navbar-brand" href="#">
      <img src="assets/logo-fish.png" alt="" />
    </a>
    <button
      class="navbar-toggler"
      type="button"
      data-toggle="collapse"
      data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a pageScroll href="#meeting_section" class="nav-link">Meetings</a>
        </li>
        <li class="nav-item">
          <a pageScroll href="#about_section" class="nav-link">About us</a>
        </li>
        <li class="nav-item">
          <a pageScroll href="#bap_section" class="nav-link">BAP</a>
        </li>
        <li class="nav-item">
          <a pageScroll href="#contact_section" class="nav-link">Contact us</a>
        </li>
      </ul>
      <form class="form-inline my-2 my-lg-0">
        <input
          class="form-control mr-sm-2"
          type="search"
          placeholder="Search"
          aria-label="Search"
        />
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">
          Search
        </button>
      </form>
    </div>
  </div>
</nav>

<div class="container">
  <img
    class="position-absolute"
    width="300px"
    src="assets/fish-aquarium-svgrepo-com.svg"
    alt=""
    style="right: 100px;"
  />
  <section id="header_section position-relative" style=" height: 55vh; ">
    <div class="row" style="margin-top: 100px">
      <div class="card col-md-6 offset-md-1 position-relative p-3">
        <h1>Montreal Aquarium Society</h1>
        <p>
          Celebrating over 80 years of promoting the aquarium hobby
        </p>
        <hr />
        <h2>Up comming events</h2>
        <div class="">
          <p class="mt-3">
            Our next meeting will be held Wednesday, <br />December 11, 2019.
            <br />
            <a pageScroll href="#meeting_section"
              >See our Meetings page for details of the evening</a
            >
          </p>
        </div>
      </div>
    </div>
  </section>
  <hr />
  <section id="meeting_section">
    <h3 class="my-5 clear-top">Our Meetings</h3>
    <div class="row">
      <div class="col-md-6">
        <p>
          This month we will be having our Christmas Get Together A chance to
          meet & discuss the hobby As usual there will be an auction and a
          raffle We invite you to join our Facebook Group Montreal Aquarium
          Society
        </p>
        <p>
          Each meeting consists of an introduction of the night's activities,
          followed by a presentation by a speaker on various subjects related to
          tropical fish keeping. There is a break during which raffle tickets
          are sold. We then draw for monthly door prizes (members in attendance
          only) and the raffle (open to all who purchased tickets). Finally,
          there is a monthly auction during which anyone can buy the items up
          for sale. (Note items in the auction can only come from members)
        </p>
      </div>
      <div class="col-md-6 card">
        <div class="card-body">
          <h3>Next meeting:</h3>
          <p>Wednesday, December 11, 2019</p>
          <p>7:45 PM, with doors opening at 7:25 PM</p>
          <p>
            Location:
            <br />
            CRCS St Zotique 75, <br />Sir Georges Etienne Cartier Sq
            Montréal,<br />QC H4C 3A1

            <a
              href="http://maps.google.com/maps?f=q&source=s_q&hl=fr&geocode=&q=75+Sir-G.-%C3%89tienne-Cartier+Square,+Montr%C3%A9al,+QC+H4C+3A1,+Canada&sll=37.0625,-95.677068&sspn=61.065158,135.351563&ie=UTF8&z=17&iwloc=r3"
              >Map</a
            >
            <br />
            Note: The room number will be posted on the board directly in front
            of the entrance
          </p>
        </div>
        <hr />
        <div class="card-body">
          <h4>Membership Fees</h4>
          <ul>
            <li>
              Individual - $25.00 per year
            </li>
            <li>
              Family - $30.00 per year
            </li>
            <li>
              Visitors - $4.00 per meeting
            </li>
          </ul>
        </div>
      </div>
    </div>
  </section>
  <hr />
  <section id="about_section">
    <h2>About us</h2>
    <p>
      You have come to this site because you, just like our members, are
      involved with tropical fish. Let me tell you a little about us. A few
      people got together in 1933 to share their knowledge of keeping fish in
      the home aquarium. This small group met in each others homes and
      eventually had to expand to larger locales. Henceforth, monthly meetings
      were held which are still perpetuated today. <br /><br />

      We are a non-profit organization and the goals are to promote the mutual
      interest of its members in acquiring, breeding and raising aquarium fish
      and plant life.<br /><br />

      Our monthly meetings consist of different activities which are outlined
      when browsing this site. I invite you to come to one of our meetings to
      check us out and learn about our club.
    </p>
  </section>
  <hr />
  <section id="bap_section">
    <h2>BAP - The Breeders Award Program</h2>
    <p>The BAP was established in 1972 with four main goals:</p>
    <ul>
      <li>To recognize outstanding achievements in the breeding of fish.</li>
      <li>To encourage the spawning of aquarium fish.</li>
      <li>To share knowledge of breeding techniques.</li>
      <li>To enable more club members to participate in these activities.</li>
    </ul>

    <h3>
      <a
        class="color-primary"
        data-toggle="collapse"
        href="#collapseExample"
        aria-expanded="false"
        aria-controls="collapseExample"
        style="cursor: pointer;"
      >
        BAP Subscription Form <i class="fa fa-mouse-pointer"></i>
      </a>
    </h3>

    <div class="collapse mx-3 card" id="collapseExample">
      <form class="card-body">
        <div class="form-row">
          <div class="form-group col-md-6">
            <label for="bapName">Full Name</label>
            <input type="text" class="form-control" id="bapName" />
          </div>
          <div class="form-group col-md-6">
            <label for="bapEmail">Email</label>
            <input type="email" class="form-control" id="bapEmail" />
          </div>
        </div>
        <div class="form-group">
          <label for="bapSpeciesSpawned">Species Spawned</label>
          <input type="text" class="form-control" id="bapSpeciesSpawned" />
        </div>
        <div class="form-group">
          <label for="inputAddress2">Address 2</label>
          <input
            type="text"
            class="form-control"
            id="inputAddress2"
            placeholder="Apartment, studio, or floor"
          />
        </div>
        <div class="form-row">
          <div class="form-group col-md-6">
            <label for="inputCity">City</label>
            <input type="text" class="form-control" id="inputCity" />
          </div>
          <div class="form-group col-md-4">
            <label for="inputState">State</label>
            <select id="inputState" class="form-control">
              <option selected>Choose...</option>
              <option>...</option>
            </select>
          </div>
          <div class="form-group col-md-2">
            <label for="inputZip">Zip</label>
            <input type="text" class="form-control" id="inputZip" />
          </div>
        </div>
        <div class="form-group">
          <div class="form-check">
            <input class="form-check-input" type="checkbox" id="gridCheck" />
            <label class="form-check-label" for="gridCheck">
              Check me out
            </label>
          </div>
        </div>
        <button type="submit" class="btn btn-primary">Sign in</button>
      </form>
    </div>
  </section>
  <hr />
  <section id="contact_section">
    <h2>Contact us</h2>
    <div class="row">
      <div class="col-sm-6 container">
        <p>
          Hi everyone, I'm Jim Cartier, President, <br />
          You can email or call: <br />
          mas092011@yahoo.ca, 514-648-4936
        </p>
        <p>
          Get in touch with us! Please feel free to contact us at any time. We
          are always happy to help you. We take great pride in our club and
          strive to help each other increase our knowledge of the hobby and to
          share the enjoyment that keeping tropical fish brings.
        </p>
      </div>
      <div class="col-sm-6">
        <form>
          <div class="form-group">
            <label for="nameInput">Name</label>
            <input type="text" class="form-control" id="nameInput" />
          </div>
          <div class="form-group">
            <label for="emailInput">Email Address</label>
            <input type="email" class="form-control" id="emailInput" />
          </div>
          <div class="form-group">
            <label for="phoneInput">Phone Number</label>
            <input type="phone" class="form-control" id="phoneInput" />
          </div>
          <div class="form-group">
            <label for="messageInput">Message</label>
            <textarea
              class="form-control"
              id="messageInput"
              rows="3"
            ></textarea>
          </div>
        </form>
      </div>
    </div>
  </section>
  <hr />
  <section>
    <h2>Friends and partners</h2>
  </section>
  <footer>
    <div class="row">
      <div class="col-md-6"></div>
      <div class="col-md-6">
        Useful links:
        <ul>
          <li>
            <a href="http://aquasam.qc.ca/"
              >SAM - Societe D'Aquariophilie de Montreal</a
            >
          </li>
          <a href="http://ca-en.hagen.com/Aquatic?hidden=true">
            <img
              src="https://themontrealaquariumsociety.com/sitebuilder/images/Hagen1_copy-170x58.jpg"
              alt=""
            />
          </a>
        </ul>
      </div>
    </div>
  </footer>
</div>
